* {
    font-family: 'Jost', sans-serif;
}

:root {
    --p800: #080096;
    --p700: #2F1082;
}


/* Chat page */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background-color: var(--p700);
    transition: all 0.3s;
    overflow-y: auto;
}

#sidebar .header {
    padding: 1rem;
    color: #fff;
    background-color: var(--p800);
}

#sidebar .header .user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#sidebar .header .user-info {
    width: 68%;
}

#sidebar .header .user-info p{
    font-size: 12px;
}

#sidebar .header .user-info p i{
    font-size: 14px;
}

#sidebar .search .form-control{
    border: 0;
    border-radius: 0;
    background-color: #000;
}

#sidebar .sidebar-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

#sidebar .sidebar-menu li {
    padding: 5px 1.5rem;
    font-size: 15px;
    cursor: pointer;
    color: #ddd;
}

#sidebar .sidebar-menu li:hover {
    color: white;
}

#sidebar .sidebar-menu li.active {
    color: white;
}

#sidebar .sidebar-menu li i {
    font-size: 12px;
}

#content {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 250px);
    height: 100vh;
    transition: all 0.3s; 
    background-color: rgb(255, 255, 255);
}

#content .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #fff;
}

#content .message-section {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#content .message-section .msg-row {
    display: grid;
    grid-template-columns: 70%;
}

#content .message-section .sent {
    justify-content: end;
    justify-items: end;
}

#content .message-section .received {
    justify-content: start;
    justify-items: start;
}

#content .message-section .sent .msg-text {
    color: #fff;
    background-color: #17a2b8;
    border-radius: 14px 14px 0 14px;
}

#content .message-section .received .msg-text {
    color: #111;
    border: 1px solid #ddd;
    border-radius: 16px 16px 16px 0;
    background-color: #eed814;
}

#content .message-section .msg-row .msg-text {
    padding: 9px 14px;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

#content .message-section .msg-row .msg-time {
    font-size: 0.6rem;
    color: #777;
}

#content .input-section {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1.5rem 1rem;
}

#content .input-section .input-group {
    width: 100%;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;;
}

@media only screen and (max-width: 600px) {

}

