{% extends 'layout.html' %}

{% block content %}

<div class="wrapper">

    {% include 'partials/sidebar.html' %}
    <div id="content">
        {% include 'partials/navbar.html' %}
        <div class="message-section">
            {% for chat in chats %}
            <p>{{chat.author.username}} {{chat.message}}</p>
            {% endfor %}
        </div>
        <div class="input-section">
            <div class="input-group">
                <input type="text" id="userMessage" class="form-control form-control-lg"
                    placeholder="Type a message here.." autocomplete="off">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="sendMsg">
                        <i class="fa fa-paper-plane"></i> Send
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}


{% block script %}
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
    integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(() => {
        var socket = io();
        socket.on('connect', () => {
            console.log('Connected!!!')
        });
        socket.on('message', (data) => {
            $('.message-section').append(`<p>${data.author}: ${data.msg}</p>`)
        });

        $('#sendMsg').click(() => {
            let msgEl = $('#userMessage');
            socket.send(msgEl.val());
            msgEl.val('');
        })
    })
</script>

{% endblock script %}